<!--{template header}-->
<!--{template menu}-->
<table class="table">
	<thead>
		<tr>
			<th>性质</th>
			<th>所有者</th>
			<th>权限</th>
			<th>等级</th>
			<th>操作记录</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<!--{loop $list $i $v}-->
		<tr class="<!--{eval echo $v['iscancel']?'':'success';}-->">
			<!--{if $v[ownertype]=='user'}-->
			<td>用户</td>
			<td>
				<a title="$v['owner']['username']" href="../space.php?uid=$v['owner']['uid']">
					$v['owner']['realname']($v['ownerid'])
				</a>
			</td>
			<!--{else}-->
			<td>$v['ownertype']</td>
			<td>$v['ownerid']</td>
			<!--{/if}-->
			<td>$v['auth']</td>
			<td>$v['level']</td>
			<td>$v['grant'][realname]($v['grantby'])&nbsp;<small>&lt;$v['grantat']&gt;</small></td>
			<td>
				<!--{if $v['iscancel']}-->
				<a class="btn btn-small btn-success" 
					href="./?page=user&do=grantadmin" 
					data="{aid:$v[aid],ownertype:'$v[ownertype]',ownerid:'$v[ownerid]',method:'turnon'}"
					onclick="return ui.form.post(this)">点击恢复</a>
				<!--{else}-->
				<a class="btn btn-small btn-danger" 
					href="./?page=user&do=grantadmin" 
					data="{aid:$v[aid],ownertype:'$v[ownertype]',ownerid:'$v[ownerid]',method:'turnoff'}"
					onclick="return ui.form.post(this);">点击禁用</a>
				<!--{/if}-->
				<a class="btn btn-small btn-inverse" 
					href="./?page=user&do=grantadmin" 
					data="{aid:$v[aid],ownertype:'$v[ownertype]',ownerid:'$v[ownerid]',method:'delete'}"
					onclick="return ui.form.post(this);">删除</a>
			</td>
		</tr>
		<!--{/loop}-->
	</tbody>
	<tfoot>
		<tr>
			<td colspan=6>
				<form class="form-inline" method="post" 
					action="./?page=user&do=grantadmin">
					<label>增加管理员</label>
					<input name="uid" type="text" class="input-small" placeholder="uid">
					<label class="checkbox">
						<input type="checkbox" name="grant" /> 启用
					</label>
					<input type="hidden" name="method" value="add">
					<button type="submit" class="btn">授权</button>
				</form>
			</td>
		</tr>
	</tfoot>
</table>
<!--{template footer}-->