<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>Untitled 1</title>
</head>

<body>
	<a style="font-size:50px"><!--{$_TPL['album']['title']}--></a>
	<ul style="">
	<!--{loop $_TPL['album']['list'] $key $value}-->
		<li><a href="downlaod.php?id=<!--{$key}-->"><!--{$value}--></a></li>
	<!--{/loop}-->
	</ul>
</body>

</html>
